ul {
  list-style-type: none;
}

li {
  margin-bottom: 1em;
}

li a:hover {
  color: white;
  text-decoration: none;
}

li a:focus {
  outline: none;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Metric',sans-serif;
  margin: 40px 0 !important;
}

.bottom-space {
  height: 100px
}

/*left bar */

.local-nav {
  position: fixed;
  width: 220px;
  bottom: 0;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 2;
  overflow-y: auto;
  background: #152567;
  color: #586676;
}

.local-content {
  padding: 0 100px 0 300px;
}

.global-options {
  color: #99a4d1;
  font-family: Metric, sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
}

.global-options-container {
  padding: 0 1em;
}

.logo-container {
  padding-top: 1.5em;
  padding-bottom: 2em;
  margin-left: 1em;
}

.username {
  font-family: Metric,sans-serif;
  font-size: 20px;
  color: white;
  margin-left: 16px;
  position: fixed;
  z-index: 3;
  bottom: 35px;
}

.abcRioButton, .sign-out {
  width: 220px !important;
  position: fixed !important;
  z-index: 3;
  bottom: 0 !important;
}

.sign-out .abcRioButtonIcon {
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 8px;
  padding: 0 !important;
}

.abcRioButtonContents {
  margin-right: 29px !important;
}

.sign-out {
  background-color: #fff;
  color: #757575;
  margin: auto;
  text-align: center;
  height: 36px;
  padding-top: 7px;
  font-family: Roboto,arial,sans-serif;
  font-size: 13px;
  cursor: pointer;
}

.sign-in-container {
  left: 0;
  width: 220px;
  margin: 0;
  position: fixed;
  z-index: 3;
  bottom: 0;
  color: #99a4d1;
  background: #111e55;
  height: 50px;
}

/*home.html*/

.ticket-title {
  color: #32bf92;
}

.jumbotron {
  background: #f9f9f9 !important;
}

.jumbo-text {
  margin-left: 7px;
}

.alert-box {
  margin-top: 10px;
}

.alert-text {
  margin: auto;
  text-align: center;
}

/*ticket.html*/

.card-block:nth-child(odd) {
  background: #f2fafd;
}

.card-block {
  border-bottom: solid 1px #d7d9db;
  padding-top: 1px;
}

.update-ticket{
  margin-top: 30px;
}

.card-title {
  padding: 9.5px;
  font-size: 18px !important;
}

.ticket-body.ng-binding {
  font-family: inherit;
  background: none;
  border: none;
  font-size: 15px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-break: break-word;
}

.ticket-page-title {
  font-size: 30px;
}
