<!DOCTYPE html>
<html ng-app="capstone">

<head lang="en">
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-signin-client_id" content="339861204473-rvt109gib76mqq46o1ij7mh0jenk4p2e.apps.googleusercontent.com">
  <title>Bloc Base Project</title>
  <link rel="stylesheet" href="/styles/main.css">
  <!-- Latest compiled and minified Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
  <div class="local-nav">
    <div class="logo-container">
      <div class='str-logo'>
        <svg height="40px" viewBox="0 0 432 492" width="40px">
    <g fill-rule="evenodd" fill="none" stroke-width="1" stroke="none">
    <path d="M427.8,119.90001 L220.2,0.30001 L211.8,0.30001 L4.2,119.90001 L0,126.90001 L0,365.40001 L4.2,372.40001 L211.8,492 L220.2,492 L427.8,372.40001 L432,365.40001 L432,126.90001 L427.8,119.90001 L427.8,119.90001 Z M135.1,230.40001 L161.8,245.90001 L188.5,261.40001 L188.5,261.40001 L215.2,276.90001 L241.9,261.40001 L241.9,261.40001 L268.6,245.90001 L295.3,230.40001 L322.0001,245.90001 L322.0001,276.90001 L322.0001,307.90001 L322.0001,307.90001 L213.6001,370.50001 L105.2001,307.90001 L105.2001,307.90001 L131.9001,292.40001 L131.9001,292.40001 L212.8001,339.50001 L212.8001,308.50001 L158.6001,277.50001 L158.6001,277.50001 L131.9001,262.00001 L105.2001,246.50001 L105.2001,183.90001 L105.2001,183.90001 L213.6001,121.30001 L322.0001,183.90001 L295.3001,199.40001 L268.6001,214.90001 L242,230.40001 L215.3,245.90001 L188.6,230.40001 L161.9,214.90001 L135.2,199.40001 L108.5,183.90001 L135.1,230.40001 L135.1,230.40001 Z" fill="#77E0C1"></path>
    </g>
    </svg>
      </div>
    </div>
    <ul class="global-options-container" ng-controller="IndexCtrl as index">
      <li>
        <a ui-sref="home" class="global-options">All Unsolved Tickets</a>
      </li>
      <li>
        <a ui-sref="myTickets" ng-if="index.userSignedIn()" class="global-options">My Unsolved Tickets</a>
      </li>
      <li>
        <a ui-sref="closedTickets" ng-if="index.userSignedIn()" class="global-options">Recently Closed Tickets</a>
      </li>
      <li>
        <a ui-sref="newTicket" class="global-options">Create Ticket</a>
      </li>
    </ul>

    <div ng-controller="IndexCtrl as index">
      <h4 class="username">{{ index.user.userObject["name"] }}</h4>
      <div class="g-signin2" data-onsuccess="onSignIn" ng-hide="index.userSignedIn()"></div>
      <a class="sign-out" ng-show="index.userSignedIn()" ng-click="index.signOut()">
        <div class="abcRioButtonIcon" style="padding:8px">
          <div style="width:18px;height:18px;" class="abcRioButtonSvgImageWithFallback abcRioButtonIconImage abcRioButtonIconImage18">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 48 48" class="abcRioButtonSvg">
            <g>
              <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z">
              </path>
              <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
              <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
              <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
              <path fill="none" d="M0 0h48v48H0z"></path>
            </g>
          </svg>
          </div>
        </div>
        Sign out
      </a>
    </div>

  </div>
  <div class="local-content">
    <ui-view></ui-view>
  </div>
  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <!-- AngularUI Router -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
  <!-- bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <!-- Angular Route -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
  <!-- Google API -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <!-- Angular Cookies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
  <!-- Application Files -->
  <script src="/scripts/app.js"></script>
  <script src="/scripts/services/GoogleOauth.js"></script>
  <script src="/scripts/services/ZenFactory.js"></script>
  <script src="/scripts/services/SortData.js"></script>
  <script src="/scripts/controllers/HomeCtrl.js"></script>
  <script src="/scripts/controllers/TicketCtrl.js"></script>
  <script src="/scripts/controllers/NewTicketCtrl.js"></script>
  <script src="/scripts/controllers/IndexCtrl.js"></script>
  <script src="/scripts/controllers/ClosedTicketCtrl.js"></script>
  <script src="/scripts/controllers/MyTicketCtrl.js"></script>
  <script src="/scripts/controllers/IncidentsModalCtrl.js"></script>
  <script src="/scripts/controllers/IncidentsModalInstanceCtrl.js"></script>
</body>

</html>
