<h2>Open Tickets</h2>
<table class="table table-bordered table-striped platform-spacing">
  <thead>
    <tr>
      <th>
        Title
      </th>
      <th>
        Submitter
      </th>
      <th>
        Date Submitted
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="ticket in home.ZenFactory.csm_data.ticket" ng-init="users = home.ZenFactory.csm_data.users">
      <td>
        <a ui-sref="ticket" ng-click="home.passTicketInfo(ticket.id, ticket.subject)" class="ticket-title">
            {{ ticket.subject }}
          </a>
      </td>
      <td>
        {{ users[ticket.submitter] }}
      </td>
      <td>
        {{ ticket.created_at | date:'mediumDate' }}
      </td>
    </tr>


  </tbody>

</table>
<div class="bottom-space"></div>
