<h2>Open Tickets</h2>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>
        Title
      </th>
      <th>
        Submitter
      </th>
      <th>
        Date Submitted
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="ticket in home.ZenFactory.tickets">
        <td>
          <a ui-sref="ticket" ng-click="home.passTicketId(ticket.id)" class="ticket-title">
            {{ ticket.subject }}
          </a>
        </td>
        <td>
          {{ ticket.submitter }}
        </td>
        <td>
          {{ ticket.created_at | date:'mediumDate'  }}
        </td>
    </tr>


</tbody>

</table>
