<ng-include src="'/templates/loading.html'" ng-show="home.loading"></ng-include>
<h2>Open Tickets</h2>
<table class="table table-bordered table-striped platform-spacing">
  <thead>
    <tr>
      <th>
        Title
      </th>
      <th>
        Submitter
      </th>
      <th>
        Date Submitted
      </th>
      <th>
        Last Updated
      </th>
      <th>
        Ticket Status*
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="ticket in home.ZenFactory.csm_data.ticket" ng-init="users = home.ZenFactory.csm_data.users">
      <td>
        <a ui-sref="ticket" ng-click="home.passTicketInfo(ticket.id, ticket.subject)" class="ticket-title">
            {{ ticket.subject }}
          </a>
      </td>
      <td>
        {{ users[ticket.submitter] }}
      </td>
      <td>
        {{ ticket.created_at | date:'mediumDate' }}
      </td>
      <td>
        {{ ticket.updated_at | date:'mediumDate' }}
      </td>
      <td>
        {{ ticket.status }}
      </td>
    </tr>
  </tbody>


</table>
  <h3>*Ticket Status key</h3>
  <table class="table table-bordered table-striped">
    <th>
      Open
    </th>
    <th>
      Pending
    </th>
    <th>
      Hold
    </th>
    <tr>
      <td>
        Support is investigating and will follow-up with an update
      </td>
      <td>
        Waiting on response from CSM <strong>OR</strong> Support waiting on response from Product/Engineering
      </td>
      <td>
        Engineering is in progress of investigating/resolving
      </td>
    </tr>
  </table>
<div class="bottom-space"></div>
