<ng-include src="'/templates/loading.html'" ng-show="myTickets.loading"></ng-include>
<h2>My Tickets</h2>
<table class="table table-bordered table-striped platform-spacing">
  <thead>
    <tr>
      <th ng-click="myTickets.sortByTitle()">
          Title
        <span ng-class="myTickets.sortClass"></span>
      </th>
      <th>
        Date Submitted
      </th>
      <th>
        Last Updated
      </th>
      <th>
        Ticket Status*
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="ticket in myTickets.ZenFactory.myTicketData.ticket">
      <td>
        <a ui-sref="ticket" ng-click="myTickets.passTicketInfo(ticket.id, ticket.subject)" class="ticket-title">
            {{ ticket.subject }}
          </a>
      </td>
      <td>
        {{ ticket.created_at | date:'mediumDate' }}
      </td>
      <td>
        {{ ticket.updated_at | date:'mediumDate' }}
      </td>
      <td>
        {{ ticket.status }}
      </td>
    </tr>
  </tbody>
</table>
<h3>*Ticket Status key</h3>
<table class="table table-bordered table-striped">
  <th>
    Open
  </th>
  <th>
    Pending
  </th>
  <th>
    Hold
  </th>
  <tr>
    <td>
      Support is investigating and will follow-up with an update
    </td>
    <td>
      Waiting on response from CSM <strong>OR</strong> Support waiting on response from Product/Engineering
    </td>
    <td>
      Engineering is in progress of investigating/resolving
    </td>
  </tr>
</table>
<div class="bottom-space"></div>
