<div aria-hidden="true" ng-show="ticket.submitted" class="alert alert-success">
  <strong>Well done!</strong> The ticket has been updated.
</div>
<h1 class="ticket-page-title"> {{ ticket.ticketSubject }} </h1>
<h1 ng-if="ticket.loading">Loading...</h1>
<div class="card">
  <div class="card-block" ng-repeat="commentArray in ticket.ZenFactory.ticket">
    <h4 class="card-title">Sender: {{ commentArray.sender }} <br /> {{ commentArray.created_at | date:'mediumDate'}}</h4>
    <pre class="ticket-body">{{ commentArray.body }}</pre>
  </div>
</div>


<form>
  <div class="form-group">
    <h3 class="update-ticket">Update Ticket</h3>
    <label>Comment Body</label>
    <textarea class="form-control" id="exampleTextarea" rows="5" ng-model="ticket.commentBody"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" ng-click="ticket.createComment()">Submit</button>
</form>
<div class="bottom-space"></div>
