<div aria-hidden="true" ng-show="ticket.submitted" class="alert alert-success">
  <strong>Well done!</strong> The ticket has been updated.
</div>
<h1> {{ ticket.ticketSubject }} </h1>
<div class="card">
  <div class="card-block" ng-repeat="commentArray in ticket.ZenFactory.ticket">
    <h4 class="card-title">{{ commentArray.sender }}</h4>

    <p class="card-text"> <pre>

    {{ commentArray.body }}</pre></p>
  </div>
</div>


<form>
  <div class="form-group">
    <h3 class="update-ticket">Update Ticket</h3>
    <label>Email</label>
    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="ticket.userEmail">
  </div>
  <div class="form-group">
    <label>Comment Body</label>
    <textarea class="form-control" id="exampleTextarea" rows="5" ng-model="ticket.commentBody"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" ng-click="ticket.createComment()">Submit</button>
</form>
<div class="bottom-space"></div>
